.SectionSix {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

address {
    font-style: normal;
    font-weight: bold;
}

.three {
    grid-column: 2/4;
    align-self: center;
    margin: auto;
}

.four {
    grid-column: 4;
    width: 500px;
}